.certificacions {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 880px;
  background-image: url("/public/img/block-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: inherit;
  &-bg {
    width: 100%;
    height: 37%;
    background-image: url("/public/img/menu-code-reverse.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: inherit;
    position: relative;
    &-plant {
      width: 180px;
      position: absolute;
      left: 34vw;
      top: 0;
    }
  }

  &-pics {
    position: relative;
    width: 100%;
    height: 470px;
    &-title {
      @include RobotoMono-light;
      font-size: 24px;
      line-height: 1;
      color: #fff;
      margin: 200px 0 0 180px;
    }

    &-js {
      width: 400px;
      position: absolute;
      left: 57vw;
      top: 17vw;
      z-index: 1;
    }
    &-plant {
      width: 180px;
      position: absolute;
      left: 34vw;
      z-index: 1;
      top: 25vw;
    }
    &-web {
      width: 260px;
      position: absolute;
      left: 17vw;
      top: 20vw;
      z-index: 1;
    }
    &-react {
      width: 470px;
      position: absolute;
      left: 32vw;
      top: 5vw;
    }
  }
}
