.menu {
  width: 100%;
  height: auto;
  margin: 0;
}
.menu-bg {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 510px;
  background-image: url("/public/img/menu-bg.png");
  background-repeat: no-repeat;
  background-size: 70%;
  /*  border: 1px solid white; // need to  clean */
  background-position: right;
  &-links {
    /*  border: 1px solid white; // need to  clean */
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-img {
      width: 25px;
      padding: 15px;
      cursor: pointer;
    }
  }
  &-title {
    display: flex;
    flex-direction: column;
    width: 70%;
    &-sname {
      @include RobotoMono-bold;
      font-size: 180px;
      letter-spacing: 7.5px;
      text-align: left;
      color: #ffffff31;
      margin: 100px 0 0 0;
    }
    &-fname {
      @include RobotoMono-medium;
      width: 163px;
      height: 34px;
      font-size: 36px;
      line-height: 0.67;
      letter-spacing: 7.2px;
      color: #fff;
      margin: -120px 0 0 0;
    }
    &-description-left {
      @include RobotoMono-medium;
      font-size: 18px;
      text-align: left;
      color: #fff;
      margin: 100px 0 0 0;
    }
    &-description-right {
      @include RobotoMono-medium;
      font-size: 16px;
      text-align: right;
      color: #fff;
      margin: -24px 0 0 0;
    }
  }
  &-lenguages {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-text {
      @include RobotoMono-medium;
      font-size: 14px;
      line-height: 4;
      text-align: right;
      color: #fff;
      padding: 10px 10px;
      cursor: pointer;
    }
  }
}
.menu-code {
  width: 85%;
  height: 510px;
  background-image: url("/public/img/menu-code.png");
  background-repeat: no-repeat;
  background-size: 380px;
  background-position: right;
  border: 1px solid green;
}
.menu-text {
}
