.menu {
  width: 100%;
  height: auto;
  margin: 0;
}
.menu-bg {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 510px;
  background-image: url("/public/img/menu-bg.png");
  background-repeat: no-repeat;
  background-size: 70%;
  border: 1px solid white;
  background-position: right;
  &-links {
    border: 1px solid white;
    width: 20%;
    display: flex;
    flex-direction: column;
    &-img {
      width: 25px;
    }
  }
  &-title {
    display: flex;
    flex-direction: column;
    width: 60%;
    &-sname {
      @include RobotoMono-bold;
      font-size: 180px;
      letter-spacing: 7.5px;
      text-align: left;
      color: #ffffff31;
      margin: 100px 0 0 0;
    }
    &-fname {
      @include RobotoMono-medium;
      width: 163px;
      height: 34px;
      font-size: 36px;
      line-height: 0.67;
      letter-spacing: 7.2px;
      color: #fff;
      margin: -120px 0 0 0;
    }
    &-description {
      @include RobotoMono-medium;
      font-family: RobotoMono;
      font-size: 18px;
      text-align: left;
      color: #fff;
      margin: 100px 0 0 0;
    }
  }
  &-lenguages {
    width: 20%;
    display: flex;
    flex-direction: column;
    &-text {
      font-size: 30px;
    }
  }
}
.menu-code {
  width: 85%;
  height: 510px;
  background-image: url("/public/img/menu-code.png");
  background-repeat: no-repeat;
  background-size: 380px;
  background-position: right;
  border: 1px solid green;
}
.menu-text {
}
