.menu {
  width: 100%;
  height: auto;
  margin: 0;
  width: 99%;
  height: 510px;
  background-image: url("/public/img/menu-bg.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: right;
}
.menu-bg {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 510px;
  background-image: url("/public/img/menu-code.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: inherit;
  &-links {
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-img {
      width: 25px;
      padding: 15px;
      cursor: pointer;
    }
  }
  &-title {
    display: flex;
    flex-direction: column;
    width: 76%;
    &-sname {
      @include RobotoMono-bold;
      font-size: 17vw;
      letter-spacing: 15.5px;
      text-align: left;
      color: #ffffff31;
      margin: 100px 0 0 0;
    }
    &-fname {
      @include RobotoMono-medium;
      width: 163px;
      height: 34px;
      font-size: 36px;
      line-height: 0.67;
      letter-spacing: 7.2px;
      color: #fff;
      margin: -120px 0 0 0;
    }
    &-description-left {
      @include RobotoMono-medium;
      font-size: 18px;
      text-align: left;
      color: #fff;
      margin: 100px 0 0 0;
    }
    &-description-right {
      @include RobotoMono-medium;
      font-size: 16px;
      text-align: right;
      color: #fff;
      margin: -24px 0 0 0;
    }
  }
  &-lenguages {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-text {
      @include RobotoMono-medium;
      font-size: 14px;
      line-height: 4;
      text-align: right;
      color: #fff;
      padding: 10px 10px;
      cursor: pointer;
    }
  }
}
