.projects {
  width: 100%;
  height: 510px;
  background-image: url("/public/img/projects-bg.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: right;
  margin-top: -25px;
}

.block-one {
  display: flex;
  flex-direction: row;
  &-project__one {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 74px 25px;
    text-align: center;
    &-img {
      &-pic {
        width: 70%;
      }
    }
    &-title {
      &-text {
        @include RobotoMono-light;
        font-size: 14px;
        line-height: 1.71;
        color: #fff;
      }
    }
  }
  &-project__two {
    display: flex;
    flex-direction: column;
    width: 50%;
    &-img {
      width: 50%;
      &-pic {
        width: 70%;
      }
    }
  }
}

.block-two {
  display: flex;
  flex-direction: row;
}
.block-two-first {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.block-two-project__one {
  display: flex;
  flex-direction: column;
  text-align: center;
  &-img {
    &-pic {
      width: 70%;
    }
  }
  &-title {
    &-text {
      @include RobotoMono-light;
      font-size: 14px;
      line-height: 1.71;
      color: #fff;
    }
  }
}
.block-two-second {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.block-two-project__two {
  display: flex;
  flex-direction: column;
  text-align: center;
  &-img {
    &-pic {
      width: 70%;
    }
  }
  &-title {
    &-text {
      @include RobotoMono-light;
      font-size: 14px;
      line-height: 1.71;
      color: #fff;
    }
  }
}
.block-two-project__three {
  display: flex;
  flex-direction: column;
  text-align: center;
  &-img {
    &-pic {
      width: 70%;
    }
  }
  &-title {
    &-text {
      @include RobotoMono-light;
      font-size: 14px;
      line-height: 1.71;
      color: #fff;
    }
  }
}
.block-two-project__four {
  display: flex;
  flex-direction: column;
  text-align: center;
  &-img {
    &-pic {
      width: 70%;
    }
  }
  &-title {
    &-text {
      @include RobotoMono-light;
      font-size: 14px;
      line-height: 1.71;
      color: #fff;
    }
  }
}
