.technologies {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #27272779;
  height: 360px;
  margin: 100px auto;
  &-title {
    display: flex;
    flex-direction: column;
    width: 50%;
    &-name {
      @include RobotoMono-light;
      font-size: 24px;
      line-height: 1;
      color: #fff;
      margin: 200px 0 0 180px;
    }
  }
  &-skills {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    flex-direction: row;
    align-content: center;

    &-img {
      width: 5vw;
      height: 5vw;
      margin: 20px;
      cursor: pointer;
    }
  }
}
