@import "variables";
@import "header";
@import "menu";
@import "experience";
@import "projects";
@import "technologies";
@import "certificacions";
@import "contact";
@import "footer";

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  background-image: url("/public/img/global-bg.jpg");
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 95%;
  /* height: 100%; */

  height: 3000px;
  margin: 0 auto;
}
