@font-face {
  font-family: "RobotoMono";
  font-weight: 700;
  src: url("/public/fonts/RobotoMono-Bold.ttf");
}
@font-face {
  font-family: "RobotoMono";
  font-weight: 500;
  src: url("/public/fonts/RobotoMono-Medium.ttf");
}
@font-face {
  font-family: "RobotoMono";
  font-weight: 500;
  src: url("/public/fonts/RobotoMono-Light.ttf");
}
.header {
  display: flex;
  flex-direction: row;
  height: 80px;
  color: #fff;
  align-items: center;
}
.header-logo {
  width: 14%;
}
.header-logo-bg {
  background-color: #c99b89;
  width: 140px;
  height: 80px;
}
.header-logo-bg-first-splash {
  font-family: RobotoMono;
  font-weight: 700;
  color: #ffffff;
  font-size: 55px;
}
.header-logo-bg-first-letter {
  font-family: RobotoMono;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
}
.header-logo-bg-second-letter {
  font-family: RobotoMono;
  font-weight: 700;
  color: #1a191d;
  font-size: 48px;
}
.header-logo-bg-second-splash {
  font-family: RobotoMono;
  font-weight: 700;
  color: #1a191d;
  font-size: 55px;
}
.header-home {
  width: 10%;
  cursor: pointer;
}
.header-menu {
  width: 76%;
  text-align: end;
}
.header-menu-item {
  margin: 0 20px;
  cursor: pointer;
}

.menu-btn {
  font-family: RobotoMono;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
}

.menu {
  width: 100%;
  height: auto;
  margin: 0;
  width: 100%;
  height: 510px;
  background-image: url("/public/img/menu-bg.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: right;
}

.menu-bg {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 510px;
  background-image: url("/public/img/menu-code.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: inherit;
}
.menu-bg-links {
  width: 14%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-bg-links-img {
  width: 25px;
  padding: 15px;
  cursor: pointer;
}
.menu-bg-title {
  display: flex;
  flex-direction: column;
  width: 76%;
}
.menu-bg-title-sname {
  font-family: RobotoMono;
  font-weight: 700;
  font-size: 18vw;
  letter-spacing: 15.5px;
  text-align: left;
  color: rgba(255, 255, 255, 0.1921568627);
  margin: 100px 0 0 0;
}
.menu-bg-title-fname {
  font-family: RobotoMono;
  font-weight: 500;
  width: 163px;
  height: 34px;
  font-size: 36px;
  line-height: 0.67;
  letter-spacing: 7.2px;
  color: #fff;
  margin: -120px 0 0 0;
}
.menu-bg-title-description-left {
  font-family: RobotoMono;
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  color: #fff;
  margin: 100px 0 0 0;
}
.menu-bg-title-description-right {
  font-family: RobotoMono;
  font-weight: 500;
  font-size: 16px;
  text-align: right;
  color: #fff;
  margin: -24px 0 0 0;
}
.menu-bg-lenguages {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-bg-lenguages-text {
  font-family: RobotoMono;
  font-weight: 500;
  font-size: 14px;
  line-height: 4;
  text-align: right;
  color: #fff;
  padding: 10px 10px;
  cursor: pointer;
}

.experience {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgba(39, 39, 39, 0.4745098039);
  height: 460px;
  margin-top: -4px;
}
.experience-block-title {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.experience-block-title-name {
  font-family: RobotoMono;
  font-weight: 300;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  margin: 200px 0 0 180px;
}
.experience-block-work {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.experience-work {
  font-family: RobotoMono;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: #fff;
  margin: 30px 0;
}

.projects {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: right;
  margin-top: -25px;
}

.projects-head {
  display: flex;
  flex-direction: row;
  height: 250px;
  background-image: url("/public/img/menu-code-reverse.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: inherit;
  margin-top: -25px;
}

.projects-head-bg {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 100%;
  background-image: url("/public/img/projects-bg.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: inherit;
  margin-top: 26px;
}

.projects-head-title {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.projects-head-title-name {
  font-family: RobotoMono;
  font-weight: 300;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  margin: 140px 0 0 180px;
}

.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-image: url("/public/img/block-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.block-project {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.block-project-text {
  font-family: RobotoMono;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
}

.card-container {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(31, 29, 28, 0.7882352941);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 24px;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 450px;
  margin: 25px 25px;
}

.card-wrapper {
  width: 100%;
  height: 100%;
}

.card-banner-image {
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
  filter: brightness(70%);
}

.card-banner-image:hover {
  filter: brightness(100%);
}

.card-button-wrapper {
  margin-top: 10px;
}

.card-btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.card-btn + .card-btn {
  margin-left: 20px;
}

.card-outline {
  background: transparent;
  color: #c99b89;
  border: 1px solid #c99b89;
  transition: all 0.3s ease;
}

.card-outline:hover {
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}

.card-fill {
  background: #c99b89;
  color: rgba(255, 255, 255, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all 0.3s ease;
}

.card-fill:hover {
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
  transition: all 0.3s ease;
}

.react-img {
  background-image: url("/public/img/react-example-page.solomka.dev_.png");
}

.store-img {
  background-image: url("/public/img/webstore-project.solomka.dev_.png");
}

.figma-img {
  background-image: url("/public/img/figma-project.solomka.dev_.png");
}

.booking-img {
  background-image: url("/public/img/restaurant-bookings.solomka.dev_.png");
}

.cash-img {
  background-image: url("/public/img/cash-counter.png");
}

.technologies {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgba(39, 39, 39, 0.4745098039);
  height: 360px;
  margin: 100px auto;
}
.technologies-title {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.technologies-title-name {
  font-family: RobotoMono;
  font-weight: 300;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  margin: 200px 0 0 180px;
}
.technologies-skills {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  flex-direction: row;
  align-content: center;
}
.technologies-skills-img {
  width: 6vw;
  height: 6vw;
  margin: 20px;
  cursor: pointer;
}

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0 auto;
  background-image: url("/public/img/global-bg.jpg");
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 96%;
  height: 3000px;
  margin: 0 auto;
}

/*# sourceMappingURL=styles.css.map */
