@font-face {
  font-family: "RobotoMono";
  font-weight: 700;
  src: url("/public/fonts/RobotoMono-Bold.ttf");
}
@font-face {
  font-family: "RobotoMono";
  font-weight: 500;
  src: url("/public/fonts/RobotoMono-Medium.ttf");
}
.header {
  display: flex;
  flex-direction: row;
  height: 80px;
  color: #fff;
  align-items: center;
}
.header-logo {
  width: 20%;
}
.header-logo-bg {
  background-image: url("/public/img/header-logo-bg.png");
  width: 140px;
  height: 80px;
}
.header-logo-bg-first-splash {
  font-family: RobotoMono;
  font-weight: 700;
  color: #ffffff;
  font-size: 55px;
}
.header-logo-bg-first-letter {
  font-family: RobotoMono;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
}
.header-logo-bg-second-letter {
  font-family: RobotoMono;
  font-weight: 700;
  color: #1a191d;
  font-size: 48px;
}
.header-logo-bg-second-splash {
  font-family: RobotoMono;
  font-weight: 700;
  color: #1a191d;
  font-size: 55px;
}
.header-home {
  width: 30%;
  cursor: pointer;
}
.header-menu {
  width: 50%;
}
.header-menu-item {
  margin: 0 20px;
  cursor: pointer;
}

.menu-btn {
  font-family: RobotoMono;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
}

.menu {
  width: 100%;
  height: auto;
  margin: 0;
}

.menu-bg {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 510px;
  background-image: url("/public/img/menu-bg.png");
  background-repeat: no-repeat;
  background-size: 70%;
  /*  border: 1px solid white; // need to  clean */
  background-position: right;
}
.menu-bg-links {
  /*  border: 1px solid white; // need to  clean */
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-bg-links-img {
  width: 25px;
  padding: 15px;
  cursor: pointer;
}
.menu-bg-title {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.menu-bg-title-sname {
  font-family: RobotoMono;
  font-weight: 700;
  font-size: 180px;
  letter-spacing: 7.5px;
  text-align: left;
  color: rgba(255, 255, 255, 0.1921568627);
  margin: 100px 0 0 0;
}
.menu-bg-title-fname {
  font-family: RobotoMono;
  font-weight: 500;
  width: 163px;
  height: 34px;
  font-size: 36px;
  line-height: 0.67;
  letter-spacing: 7.2px;
  color: #fff;
  margin: -120px 0 0 0;
}
.menu-bg-title-description-left {
  font-family: RobotoMono;
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  color: #fff;
  margin: 100px 0 0 0;
}
.menu-bg-title-description-right {
  font-family: RobotoMono;
  font-weight: 500;
  font-size: 16px;
  text-align: right;
  color: #fff;
  margin: -24px 0 0 0;
}
.menu-bg-lenguages {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-bg-lenguages-text {
  font-family: RobotoMono;
  font-weight: 500;
  font-size: 14px;
  line-height: 4;
  text-align: right;
  color: #fff;
  padding: 10px 10px;
  cursor: pointer;
}

.menu-code {
  width: 85%;
  height: 510px;
  background-image: url("/public/img/menu-code.png");
  background-repeat: no-repeat;
  background-size: 380px;
  background-position: right;
  border: 1px solid green;
}

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  background-image: url("/public/img/Free-Stressed-linen-patterns.jpg");
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

/*# sourceMappingURL=styles.css.map */
